@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,700;1,700&display=swap");

:root {
  --primary1: hsl(223, 87%, 63%); /* Blue */
  --secondary1: hsl(223, 100%, 88%); /* Pale Blue */
  --secondary2: hsl(354, 100%, 66%); /* Light Red */
  --neutral1: hsl(0, 0%, 59%); /* Gray  */
  --neutral2: hsl(209, 33%, 12%); /* Very Dark Blue */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}

header,
main,
footer {
  flex: 1;
}

/*** Header */

header {
  width: 100%;
  margin: 0;
  text-align: center;
}

header img {
  width: 70px;
  max-width: 100%;
  margin: 1.2rem auto;
}

header .title {
  font-size: 2em;
  color: var(--neutral1);
  font-weight: 300;
}

header .title strong {
  color: var(--neutral2);
}
header .notification {
  color: var(--neutral2);
  font-weight: 300;
  font-size: 1.2rem;
  margin: 1rem auto;
}

/*** Subscription section  */
.form-grid{
  width: 50rem;
  max-width: 100%;
  margin: 1.2rem auto;
  padding:  1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cell {
  padding: .4rem 1rem;
}
.cell1{
  grid-column: 1 / 3;
}
.cell3{
  grid-row: 2 / 3;
  grid-column: 1 / span 3;
  display: none;

}


#email,
#subscribe-btn {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 25px;
}

.normal-style {
  border: 1.1px solid var(--primary1);
  outline: none;
}
::placeholder {
  color: var(--primary1);
  font-size: 1rem;
}

#subscribe-btn {
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--primary1);
  font-size: 1rem;
  box-shadow: 0px 7px 8px hsl(223, 87%, 63%, 0.5);
  cursor: pointer;
}
#subscribe-btn:hover {
  background-color: hsl(223, 87%, 63%, 0.7);
}

.error-messages {
  text-align: left;
  color: var(--secondary2);
  font-size: 1rem;
}

.empty-error-msg,
.format-error-msg {
 display: none;
}

/*** Main illustration */
.image-container {
  width: 53rem;
  max-width: 100%;
  margin: 1rem auto;
}
.image-container img {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  text-align: center;
}
.social-icons {
  display: inline-flex;
  margin: 1rem auto;
  list-style: none;
}
.social-icons li {
  padding: .6rem;
  margin: auto;
  color:var(--primary1);
  cursor: pointer;
}
.social-icons li:hover{
  background-color: var(--primary1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
}
footer .copyright {
  margin:  auto;
  color:var(--neutral1);
  font-size: .8rem;

}

/***Media Queries  */
@media screen and (max-width: 600px) {
  header .title {
    font-size: 1.5rem;
  }
  header .notification{
    font-size: 1rem;
  }
  .image-container {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .form-grid{
    grid-template-columns: 1fr;
  }
  .cell1 , .cell3{
    grid-area: auto;
  }
  .cell1{
    order: 0;
  }
  .cell3{
    order: 1;
  }
  .cell2{
    order: 2;
  }
  #subscribe-form .error-msg {
    font-size: 0.89rem;
  }
  .social-icons li {
    font-size: .77rem;
  }
  .image-container{
    max-width: 70%;
    text-align: center;
  }
  .error-messages {
    text-align: center
  }

}
